<form class='form' action="<%= @post.present? ? "/posts/#{@post['id']}" : "/create" %>" method="post">
  
  <label class='form-label' for="title">Title: </label>
  <input class='form-input' id="title" name="title" type="text" value="<%= @post['title'] if @post.present? %>">

  <label class='form-label' for="abstract">Abstract: </label>
  <input class='form-input' id="abstract" name="abstract" type="text" value="<%= @post['abstract'] if @post.present? %>">

  <label class='form-label' for="body">Post: </label>
  <textarea class='form-input form-input-text' id="body" name="body"><%= CGI.unescape(@post['body']) if @post.present? %></textarea>

  <label class='form-label' for="author">Author: </label>
  <input class='form-input' id="author" name="author" type="text" value="<%= @post['author'] if @post.present? %>">
  
  <% if @post.present? %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <div class="form-buttons">
    <button class='form-button' type="submit">Save</button>
  </div>
  
</form>