<ul class="actions margin-top-30">
  <% @order_by.each do |order_param, order_word| %>
    <li class="action">
      <a class='action-link <%= 'action-link-current' if order_param == @current_order  %> <%= 'action-link-current-asc' if order_param == @current_order && @direction == :asc %>' href="/posts?sort=<%= order_param %>&dir=<%= order_param == @current_order && @direction == :desc ? 'asc' : 'desc' %>">
        <%= order_word %>
      </a>
    </li>
  <% end %>
</ul>
<ul class="list">
  <% @posts.each do |post| %>
    <li class="list-el">
      <a class="list-el-link" href="/posts/<%= post['id'] %>">
        <strong><%= post['title']%></strong><br />
        <span class='link-el-link-small'>
          <em>created at: <%= post['created_at']%></em>,
          <em>updated at: <%= post['updated_at']%></em>,
          created by: <%= post['author']%>
        </span>
      </a>
    </li>
  <% end %>
</ul>